.navigation-bar{
    height: 76px;
    background-color : var(--primary-color);
    width: 100%;
}

.navigation-bar__container{
    width: 90%;
    margin: auto;
    height: 100%;
    display : flex;
    align-items : center;
}


.navigation-bar__links{
    display : none;
    width: 280px;
    justify-content : space-between;
    background-color : var(--primary-color);
}

.navigation-bar__menu{
    background-color: transparent;
    border : none;
    outline : none;
    color : var(--seconday-color);
    font-size: 1.3rem;
    margin-right : 10px;
    position: relative;
    z-index: 10;

}


@media screen and (min-width: 768px){

    .navigation-bar__links{
        display : flex;
    }

    .navigation-bar__container{
        justify-content : space-between;
    }

    .navigation-bar__menu{
        display : none;
    }

    
}

