.Bar{
    background-color : green;
    width : 1px;
    margin : 0px 1px;
    background-color : #f7f7f7;

}

.Bar.GroupA{
    background-color : #E33E57;
}

.Bar.GroupB{
    background-color : #F7B538;
}

.Bar.xSmall{
    width : 30px;
    margin : 0px 3px;
}

.Bar.Small{
    width : 15px;
    margin : 0px 3px;
}

.Bar.Medium{
    width : 15px;
    margin : 0px 2px;
}

.Bar.Large{
    width : 20px;
}

.Bar.xLarge{
    width : 10px;
}



@media screen and (min-width: 480px){
    
}

@media screen and (min-width: 768px){

    .Bar.xSmall{
        width : 72px;
        margin : 0px 25px;
    }
    
    .Bar.Small{
        width : 40px;
        margin : 0px 12px;
    }
    
    .Bar.Medium{
        width : 20px;
        margin : 0px 5px;
    }
    
    .Bar.Large{
        width : 20px;
    }

    .Bar.xLarge{
        width : 12px;
    }


    
}
