*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root{
  --primary-color : #121212;
  --seconday-color : #ffffff;
  --black : #000000;
  --red : #E33E57;
  --yellow : #F7B538;
  --disabled-red : rgba(227, 62,87, 0.6);
  --disabled-white : rgba(255,255,255,0.6);
  --fs-xs : 14px;
  --fs-s : 16px;
  --fs-m : 18px;
  --fs-l : 20px;
  --fs-xl : 22px;
  --fs-xxl : 24px;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
